RewriteEngine On


RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php/$1 [L]

<IfModule mod_headers.c>
    Header set Content-Security-Policy "default-src 'self'; \
script-src 'self' https://cdnjs.cloudflare.com https://cdn.datatables.net https://cdn.tailwindcss.com 'unsafe-inline'; \
style-src 'self' 'unsafe-inline' https://cdnjs.cloudflare.com https://cdn.datatables.net https://fonts.googleapis.com; \
img-src 'self' data:; \
connect-src 'self' https://cdn.datatables.net; \
font-src 'self' https://cdnjs.cloudflare.com https://fonts.gstatic.com;"
</IfModule>